h1 {
    color: palevioletred;
    text-align: center;
}


#body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 30px;
}

.center-container {
    text-align: center;
}